@use "../helper/mixins";
@use "../helper/colors";

.contact-component {
  padding-bottom: 50px;
  flex: 1;
  width: 100%;
  @include mixins.flex($dir: column);
  .layout {
    @include mixins.flex($dir: column);
    width: 100%;
    flex: 1;
  }
  .heading {
    @include mixins.heading-text;
    margin: 30px 0;
  }
  .contact-form {
    flex: 1;
    width: 100%;
    border: 2px solid colors.$primary;
    border-radius: 15px;
    box-shadow: 0 0 15px colors.$primary;
    padding: 50px;
    backdrop-filter: blur(8px);
    @include mixins.flex($dir: column);
    max-width: 700px;
  }
  .form-group {
    @include mixins.flex($dir: column, $align: flex-start);
    gap: 18px;
    margin-bottom: 25px;
    width: 100%;
    label {
      font-size: 20px;
      span {
        color: red;
      }
    }
    input,
    textarea {
      font-size: 16px;
      width: 100%;
      background: rgba(#000, 0);
      border: 1px solid colors.$primary;
      border-radius: 10px;
      color: white;
      padding: 10px;
      &:focus {
        outline: 0;
      }
    }
    textarea {
      flex: 1;
    }
    &:last-of-type {
      flex: 1;
    }
  }
  .submit-btn {
    width: 100%;
    background: colors.$primary;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}

@include mixins.mediaQuery(sm) {
  .contact-component {
    .heading {
      font-size: 50px;
    }
    .contact-form {
      border: none;
      box-shadow: none;
      padding: 50px 15px;
    }
  }
}
