@use "../variables/colors";
@use "../variables/variables";
@use "../variables/sizes";
@use "../mixins/mixins";

.portfolio {
  @include mixins.flex();
  .front {
    @include mixins.flex($dir: column);
    width: 100%;
    height: 100%;
    gap: 90px;
    position: relative;
    z-index: 1;
    overflow: visible;
  }
  .heading {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
  }

  .works {
    @include mixins.flex();
    gap: 70px;
    position: relative;
    flex-wrap: wrap;
  }

  .work {
    width: 402px;
    height: 457px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    padding: 20px;
    @include mixins.flex(
      $dir: column,
      $just: space-between,
      $align: flex-start
    );
    .img-background {
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      height: 246px;
      background: linear-gradient(130deg, #1f2125 22.31%, #e649f5 130.86%);
      backdrop-filter: blur(93.5px);
      position: relative;
      img {
        position: absolute;
        top: 30px;
        right: 20px;
        // width: 100%;
        height: calc(100% - 20px);
        border-radius: 10px;
      }
    }
    &:nth-child(even) {
      .img-background {
        background: linear-gradient(211deg, #1f2125 21.86%, #e649f5 126.65%);
        img {
          left: 20px;
          right: unset;
        }
      }
    }
    .job-title {
      color: #d1d5db;
      font-size: 20px;
    }
    .work-name {
      color: #fff;
      font: {
        weight: 700;
        size: 32px;
      }
    }
    .separator {
      height: 1px;
      background: #d1d5db;

      width: 100%;
    }
    .frameworks {
      @include mixins.flex($align: flex-start);
      gap: 20px;
    }
  }
  .front {
  }
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    // left: -(variables.$side-margin);
    z-index: 0;
    @include mixins.flex($align: flex-start);
    overflow: visible;
    div {
      //   background: red;
      width: 80%;
      height: 200%;
      border-radius: 210px;
      background: linear-gradient(
        120deg,
        rgba(74, 199, 250, 0.8) -34.2%,
        rgba(230, 73, 245, 0.8) 136.09%
      );
      filter: blur(50px);
      opacity: 80%;
    }
  }
}

@media screen and (max-width: sizes.$breakpoint-sm) {
  .portfolio {
    .heading {
      font-size: 50px;
    }
    .work {
      width: 330px;
    }
  }
}
