@use "../helper/colors";
@use "../helper/variables";
@use "../helper/sizes";
@use "../helper/mixins";
@use "../helper/functions";

%hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

$top: 50px;
$left: 50%;
$old-height: 457px;
$old-width: 402px;

@mixin imagePos($selector, $map) {
  @each $order, $pos in $map {
    #{$selector}:nth-of-type(#{$order}) {
      .img-background {
        background: if(
          #{$pos} == right,
          linear-gradient(211deg, #1f2125 21.86%, #e649f5 126.65%),
          linear-gradient(130deg, #1f2125 22.31%, #e649f5 130.86%)
        );
        img {
          #{functions.reverseDir($pos)}: 20px;
        }
      }
    }
  }
}

.portfolio {
  @include mixins.flex();
  .front {
    @include mixins.flex($dir: column);
    width: 100%;
    height: 100%;
    gap: 90px;
    position: relative;
    z-index: 1;
    overflow: visible;
  }
  .heading {
    @include mixins.heading-text;
  }

  .works {
    @include mixins.flex();
    gap: 70px;
    position: relative;
    flex-wrap: wrap;
    @include imagePos("&:not(.open) .work", (even right, odd left));
    @include imagePos("&.open .work", (even left, odd right));
  }
  %work-props {
    width: $old-width;
    height: $old-height;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    @include mixins.flex(
      $dir: column,
      $just: space-between,
      $align: flex-start
    );
  }
  .work {
    @extend %work-props;
    transition: background 1s;
    &:not(.open) .open-only {
      display: none;
    }
    &.open {
      position: fixed;
      animation: open-work 1.5s ease-in-out forwards;
      z-index: 10;
      max-width: min(90vw, 700px);
      background: rgba(black, 0.9);
      border: 2px solid colors.$primary;
      box-shadow: 0 0 15px colors.$primary;
      overflow-y: scroll;
      gap: 15px;
      @extend %hide-scrollbar;

      .img-background {
        align-self: center;
        @include mixins.flex($dir: column);
        height: unset;
        gap: 20px;
        overflow: visible;
        background: transparent !important;
        width: 100%;
        img {
          width: 100%;
          position: static;
          border-radius: 0;
        }
      }
      .open-only {
        // display: none;
        animation: display 2s ease-in-out forwards;
      }
      .close {
        display: block;
      }
      & + .after-work {
        @extend %work-props;
        background: transparent;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
      }
    }
    .close {
      @include mixins.square(20px, true);
      cursor: pointer;
      display: none;
    }
    .img-background {
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      height: 246px;
      -webkit-backdrop-filter: blur(93.5px);
      backdrop-filter: blur(93.5px);
      position: relative;
      // transition: 0.5s;
      img {
        position: absolute;
        // transition: 0.5s;
        top: 30px;
        // width: 100%;
        // height: calc(100% - 20px);
        width: 120%;
        border-radius: 10px;
      }
    }
    .btns {
      @include mixins.flex($just: space-between);
      width: 100%;
      button,
      a {
        background: transparent;
        border: none;
        color: colors.$secondary;
        cursor: pointer;
        font-size: 16px;
      }
    }
    .job-title {
      color: #d1d5db;
      font-size: 20px;
    }
    .work-name {
      color: #fff;
      font: {
        weight: 700;
        size: 32px;
      }
    }
    .separator {
      height: 1px;
      background: #d1d5db;

      width: 100%;
    }
    .frameworks {
      @include mixins.flex($align: flex-start);
      gap: 20px;
      svg {
        @include mixins.square(30px);
      }
    }
  }
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    // left: -(variables.$side-margin);
    z-index: 0;
    @include mixins.flex($align: flex-start);
    overflow: visible;
    div {
      //   background: red;
      width: 80%;
      height: 100%;
      border-radius: 210px;
      background: linear-gradient(
        120deg,
        rgba(74, 199, 250, 0.8) -34.2%,
        rgba(230, 73, 245, 0.8) 136.09%
      );
      filter: blur(50px);
      opacity: 80%;
    }
  }
}

@include mixins.mediaQuery(sm) {
  .portfolio {
    .heading {
      font-size: 50px;
    }
    .work {
      width: 330px;
    }
  }
}

@keyframes open-work {
  0% {
    transform: translateX(0);
  }
  35% {
    left: $left;
    top: 50vh;
    transform: translate(-50%, -50%);
    height: $old-height;
    width: $old-width;
  }
  100% {
    left: $left;
    top: 50vh;
    width: 90vw;
    height: 90vh;
    transform: translate(-50%, -50%);
    // position: sticky;
  }
}

@keyframes display {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}
