@use "./variables/colors";
@use "./variables/variables";
@use "./variables/sizes";
@use "./mixins/mixins";

.home-page {
  background: colors.$background;
  min-height: 100vh;
  color: white;
  // @include mixins.flex($dir: column, $align: stretch);

  .page {
    min-height: 100vh;
    // padding-top: 105px;
    overflow: hidden;
  }
  .main {
    @include mixins.flex($dir: row-reverse, $just: space-between);
    gap: 10%;
    flex: 1;
    > section {
      max-width: 45%;
    }
  }
  .right {
    @include mixins.flex();
    flex: 1;
    svg {
      min-width: 540px;
      width: 100%;
      // width: 612px;
      // height: 490px;
      animation: banner-animation 4s ease-in-out infinite;
    }
  }
  .left {
    flex: 1;
    @include mixins.flex($just: space-evenly, $dir: column, $align: flex-start);
    gap: 20px;
    font-size: 64px;
  }
  .i {
    @include mixins.flex($dir: column);
  }
  .i-am-a {
    text-transform: uppercase;
    width: 100%;
  }
  .title {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 1px solid #7a7a7a;
    min-height: 77px;
    // max-height: 77px;
    white-space: nowrap;
  }
  .description {
    font-size: 24px;
    max-width: 620px;
  }
  .social-list {
    list-style: none;
    @include mixins.flex();
    gap: 50px;
    li {
      width: 35px;
      height: 35px;
      img,
      a {
        max-width: 100%;
        max-height: 100%;
        display: flex;
      }

      &.stackoverflow {
        margin-bottom: -15px;
        min-width: 45px;
        min-height: 45px;
      }
    }
  }
}

@keyframes banner-animation {
  0% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-10px, -10px);
  }
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: sizes.$breakpoint-xl) {
  .container {
    padding: 0 variables.$side-margin-sm;
  }
  .home-page {
    .main {
      // flex-direction: column;
      // align-items: flex-start;
      padding-top: 115px;
      align-items: stretch;
      justify-content: center;
      .right {
        position: absolute;
        top: 0;
        left: 0;
        max-width: unset;
        height: 100vh;
        width: 100vw;
        &::before {
          height: 100vh;
          width: 100vw;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.75);
          backdrop-filter: blur(3px);
          z-index: 1;
        }
        svg {
          position: relative;
          width: 80%;
          z-index: 0;
        }
      }
      .left {
        background: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 2;
        min-height: 100%;
        // padding: 50px 0;
        max-width: 90%;
        justify-content: center;
        .description {
          max-width: 100%;
        }
        .title {
          max-width: 100%;
          white-space: pre-wrap;
          border: none;
          word-spacing: 100%;
          min-height: 160px;
          // max-width: 300px;
          width: min-intrinsic;
          width: -webkit-min-content;
          width: -moz-min-content;
          width: min-content;
          display: table-caption;
          display: -ms-grid;
          -ms-grid-columns: min-content;
        }
      }
    }
  }
}
