@use "./variables/colors";
@use "./variables/variables";
@use "./mixins/mixins";

.home-page {
  background: colors.$background;
  min-height: 100vh;
  color: white;
  // @include mixins.flex($dir: column, $align: stretch);

  .nav-component {
    @include mixins.flex($just: space-between);
    padding: 25px variables.$side-margin;
    border-bottom: 1px solid #7a7a7a;
    max-height: 105px;
    // position: fixed;
    width: 100vw;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    .logo {
      @include mixins.flex();
      gap: 16px;
    }
    .links-list {
      @include mixins.flex($just: space-between);
      list-style: none;
      gap: 50px;
      a,
      button {
        border: none;
        background: inherit;
        color: colors.$secondary;
        font-size: 18px;
        cursor: pointer;
      }
      li:last-child a {
        @include mixins.flex();
        height: 52px;
        width: 132px;
        border-radius: 24px;
        // border: 1px solid #fff;
        color: white;
        position: relative;
        overflow: hidden;
        background: white;
        &::before {
          // height: 52px;
          // width: 132px;
          // background: linear-gradient(
          //   #ff75c3 14%,
          //   #ffa647 32%,
          //   #ffe83f 50%,
          //   #9fff5b 69%,
          //   #cd93ff 85%
          // );
          // width: 100%;
          // height: 100%;
          width: 200px;
          height: 200px;
          position: absolute;
          animation: rotate-border 2s linear infinite;
          border-radius: 50%;
          background: conic-gradient(
            from 180deg at 50.17% 50.34%,
            rgba(0, 0, 0, 0) 89.73139822483063deg,
            #fc2da2 181.8234944343567deg,
            #ffa647 201.4614486694336deg,
            #ffe41a 226.5727186203003deg,
            #69fc00 245.6411862373352deg,
            #8800ff 268.50221157073975deg,
            rgba(0, 0, 0, 0) 359.6771049499512deg
          );
        }
        &::after {
          content: "Contact";
          @include mixins.flex();
          background: black;
          height: 49px;
          width: 129px;
          position: absolute;
          border-radius: 24px;

          // overflow: hidden;
        }
        &:hover::before {
          content: "";
        }
      }
      .contact-btn {
      }
    }
    h1 {
      text-transform: uppercase;
      font: {
        weight: 400;
        size: 24px;
      }
    }
  }
  .page {
    height: 100vh;
    // padding-top: 105px;
  }
  .main {
    @include mixins.flex($dir: row-reverse, $just: space-between);
    gap: 90px;
    flex: 1;
  }
  .right {
    @include mixins.flex();
    flex: 1;
    svg {
      min-width: 100%;
      // width: 612px;
      // height: 490px;
      animation: banner-animation 4s ease-in-out infinite;
    }
  }
  .left {
    flex: 1;
    @include mixins.flex($just: space-evenly, $dir: column, $align: flex-start);
    gap: 20px;
    font-size: 64px;
  }
  .i-am-a {
    text-transform: uppercase;
  }
  .title {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 1px solid #7a7a7a;
    min-height: 77px;
    // max-height: 77px;
    white-space: nowrap;
  }
  .description {
    font-size: 24px;
    max-width: 620px;
  }
  .social-list {
    list-style: none;
    @include mixins.flex();
    gap: 50px;
    li {
      width: 35px;
      height: 35px;
      img,
      a {
        max-width: 100%;
        max-height: 100%;
      }
      &.stackoverflow {
        margin-bottom: -15px;
        min-width: 45px;
        min-height: 45px;
      }
    }
  }
}

@keyframes banner-animation {
  0% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
